@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  margin: 0;
  font-family: Raleway, sans-serif;
}

.RoomList li a::before {
  content: '# ';
}
.RoomList li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.UserInfo a:hover {
  color: white;
}